APP_DEBUG=false
APP_ENV=production
APP_FAKER_LOCALE=ar_SA
APP_FALLBACK_LOCALE=en
APP_KEY="base64:BjStL1BjiGIRu0NFLWzCnzTjnjlVwtdRRSYbyg+U/2U="
APP_LOCALE=ar
APP_NAME=iPhone.azaz
APP_TIMEZONE=Asia/Damascus
APP_URL=https://warranty-system-u47s.onrender.com
APP_VERSION=1
ASSET_URL=https://warranty-system-u47s.onrender.com
CACHE_STORE=file
DB_CONNECTION=pgsql
DB_DATABASE=warranty_system
DB_HOST=dpg-d9hhjdkm0tmc73at1l20-a
DB_PASSWORD=CtIqin4wZIfglEFx5NG6Hcce9YpW3Uef
DB_PORT=5432
DB_USERNAME=warranty_system_user
FILESYSTEM_DISK=public
LIVEWIRE_TEMPORARY_FILE_UPLOAD_DISK=public
LOG_CHANNEL=stack
LOG_LEVEL=debug
QUEUE_CONNECTION=database
SESSION_DOMAIN=
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SAME_SITE=lax
SESSION_SECURE_COOKIE=true
VITE_APP_NAME=${APP_NAME}
